# настройки для подключения к серверам (в секции server можно указывать несколько серверов)
all:
    children:
        site:
            hosts:
                server:
                    ansible_connection: ssh
                    ansible_user: root
                    ansible_host: 0.0.0.0
                    ansible_port: 22
                    # указываем путь к интерпретатору python на удаленом сервере
                    ansible_python_interpreter: /usr/bin/python3
        db:
            hosts:
                server:
                    ansible_connection: ssh
                    ansible_user: root
                    ansible_host: 0.0.0.0
                    ansible_port: 22
                    # указываем путь к интерпретатору python на удаленом сервере
                    ansible_python_interpreter: /usr/bin/python3
        queue:
            hosts:
                server:
                    ansible_connection: ssh
                    ansible_user: root
                    ansible_host: 0.0.0.0
                    ansible_port: 22
                    # указываем путь к интерпретатору python на удаленом сервере
                    ansible_python_interpreter: /usr/bin/python3